<%= image_tag "bb.jpg" %>
<h1>Въпроси към оракула</h1>

<div class="askButton"><%= link_to 'Задай въпрос', new_question_path %></div>

<table>
  <thead>
  <tr>
    <th>Номер</th>
    <th>Въпрос</th>
    <th>Отговор</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.id, question %></td>
        <td><%= question.question %></td>
        <td><%= question.answer %></td>
        <td>
          <% if logged_in? and current_user.id == question.user_id %>
              <%= link_to 'Изтрий', question, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
