<p>
  <strong>Потребител:</strong>
  <%= @question.user_id %> ( <%= @question.user.email %> )
</p>

<p>
  <strong>Въпрос:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Отговор:</strong>
  <%= @question.answer %>
</p>

<%= link_to 'Назад', questions_path %>
